apiVersion: apps/v1
kind: Deployment
metadata:
  name: laundry-bot
  namespace: home-sensors
  labels:
    app: laundry-bot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: laundry-bot
  template:
    metadata:
      labels:
        app: laundry-bot
    spec:
      containers:
      - name: laundry-bot
        image: ghcr.io/kj800x/laundry-bot:commit-$SHA
        env:
        - name: MQTT_HOST
          value: "mqtt.home.coolkev.com"
        - name: MQTT_PORT
          value: "1883"
        - name: MQTT_TOPIC
          value: "EnergyMonitor/port14/current"
        - name: DISCORD_BOT_TOKEN
          valueFrom:
            secretKeyRef:
              name: laundry-bot-secrets
              key: discord-bot-token
        - name: DISCORD_CHANNEL_ID
          valueFrom:
            secretKeyRef:
              name: laundry-bot-secrets
              key: discord-channel-id
